.chat-main
 .chat-main__group-info
  .chat-main__group-info__left-box
   %h2.chat-main__group-info__left-box__name
    =@group.name
   %ul.chat-main__group-info__left-box__members
    Member:
    %li.chat-main__group-info__left-box__members__member
     - @users.each do |user|
      =user.name
       
  =link_to edit_group_path(@group) do
   .chat-main__group-info__edit-btn
    Edit
 .chat-main__messages
  = render @messages
 .chat-main__form
  = form_for [@group, @message],html: {class:"chat-main__form__new"} do |f|
   .chat-main__form__new__form-box
    = f.text_field :content, class: 'chat-main__form__new__form-box__input', placeholder: 'type a message'
    = f.label :image, class: 'chat-main__form__new__form-box__input__label' do
     = icon('fas', 'image', class: 'icon')
     = f.file_field :image, class: 'chat-main__form__new__form-box__input__label__image'
   = f.submit 'Send', class: 'chat-main__form__new__submit-btn'
  